[Unit]
Description=Launches get_vm_metrics.py
Wants=network-online.target
After=multi-user.target network-online.target

[Service]
Type=simple
ExecStart=/etc/init.d/firstboot_once.sh

[Install]
WantedBy=multi-user.target

